{% extends "base.html" %}

{% block title %}Till login{% endblock %}

{% block heading %}Till login{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p><strong>Note:</strong> You are already logged in as {{user.get_full_name}}.  <a href="/">Click here to go to the index page.</a></p>
{% endif %}

<form method="post" action="{% url "login-page" %}">
{% csrf_token %}
<table class="kvtable">{{form.as_table}}</table>
<input type="submit" value="Log in" />
<input type="hidden" name="next" value="{{ next|escape }}" />
</form>

{% endblock %}
