{% extends "base.html" %}

{% block title %}Till user profile{% endblock %}

{% block heading %}Till user profile — {{user.get_full_name}}{% endblock %}

{% block content %}
<p>You are logged in as {{user.get_full_name}}.</p>

<ul>
  <li><a href="{% url "tillweb-pubroot" %}">Go to the till</a></li>
  <li><a href="{% url "password-change-page" %}">Change your password</a></li>
  {% if may_edit_users %}
  <li><a href="{% url "userlist" %}">Add or remove users</a></li>
  {% endif %}
  {% if FOOD_MENU_EDITOR %}
  <li><a href="{% url "tillmenu-index" %}">Edit the food menu</a></li>
  {% endif %}
</ul>

{% endblock %}
