{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Menus{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Food menus" "tillmenu-index" %}
{% endblock %}

{% block content %}
<main class="container">
{% if menus %}
<p>Available menus:</p>
<ul>
  {% for m in menus %}
  <li><a href="{{m.get_absolute_url}}">{{m.name}}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>There are no menus defined.</p>
{% endif %}

<p>Add a new menu:</p>

<form action="" method="post">{% csrf_token %}
{% include "form-horizontal.html" %}
  <button class="btn btn-primary" type="submit" name="addmenu">Add new menu</button>
</form>
</main>
{% endblock %}
