{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Menu: {{menu.name}}{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Food menus" "tillmenu-index" %}
{% breadcrumb menu.name "tillmenu-detail" menu.pk %}
{% endblock %}

{% block content %}
<script type="text/javascript">
  function disable_install() {
  document.getElementById('activate').disabled = true;
  document.getElementById('validmenu').style.display = 'none';
  }
</script>
<main class="container">

  <form action="" method="post">{% csrf_token %}
    {% include "form.html" %}
    <button class="btn btn-primary" type="submit" name="save">Save menu</button>

{% if error %}
    <p class="error">Error parsing the menu: {{error}}</p>
    <p>Update and re-save to check again.</p>
{% else %}
    <div id="validmenu">
      <p>The menu is valid.  The menu file for the till is:</p>
      <p>{{output}}</p>
      <button class="btn btn-secondary" type="submit" id="activate" name="activate">
	Install this menu on the till
      </button>
    </div>
{% endif %}
  </form>

  <p>If you aren't going to use this menu any more, you can delete it.</p>

  <form action="" method="post">{% csrf_token %}
    <button class="btn btn-danger" type="submit" name="delete">Delete menu</button>
  </form>
</main>
{% endblock %}
