[Unit]
Description=Till web interface
AssertPathExists=%h/tillweb/systemd/tillweb-uwsgi.conf
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
WorkingDirectory=%h/tillweb
Environment=DJANGO_SETTINGS_MODULE=tillweb_infra.settings_production

; Uncomment the next line if working on a copy of quicktill in your
; home directory instead of the system-installed copy
; Environment=PYTHONPATH=%h/quicktill

Type=notify
ExecStartPre=%h/tillweb/systemd/setup.sh
ExecStart=%h/tillweb/systemd/start.sh
KillSignal=SIGINT

[Install]
WantedBy=default.target
