.bargraph {
	width: 100%;
	background-color: #5f1539;
	height: 2em;
	border-radius: 10em;
	overflow: hidden;
	position: relative;
}

.screen .bargraph {
	height: 4em;
}

.screen .bar span {
	font-size: 2em;
}

.bar {
	background-color: #fc41a2;
	background: url( '/static/pink-animated.gif' );
	background-size: 100%;
	overflow: hidden;
	border-radius: 10em;
	height: inherit;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;;
}

.bar span {
	font-size: 1em;
	line-height: 2;
	overflow: hidden;
}

.marker {
	background: url( '/static/dark-animated.gif' );
	background-size: 100%;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	height: inherit;
	text-align: center;
	font-size: 1em;
	border-left: 0.25em solid white;
	position: absolute;
	top: 0;
	left: 0;;
}
