/* -*- coding: utf-8 -*- */

@charset "UTF-8";

body {
    margin:0px;
    padding:0px;
    font:11px sans-serif;
    font-family: helvetica, sans-serif;
    color:#fff;
    background-color:black;
}
