<h2>Predicted Sales</h2>
<p>Based on previous years sales this is where we expect to be.</p>
<div class="bargraph" style="margin-bottom: 2.5em;">
	<div class="bar" style="width:{{info.expected_consumption_pct}}%;"><span>{{info.expected_consumption_pct|stringformat:"0.1f"}}%</span></div>
</div>

<h2>Actual sales</h2>
<p>We've actually consumed {{alcohol_used_pct|stringformat:"0.1f"}}% of the alcohol.</p>
<div class="bargraph" style="margin-bottom: 2.5em;">
	<div class="bar" style="width:{{alcohol_used_pct}}%;"><span>{{alcohol_used_pct|stringformat:"0.1f"}}%</span></div>
</div>
