{% extends "display.html" %}

{% block title %}On Tap{% endblock %}

{% block header %}Currently On Tap{% endblock %}

{% block content %}
	<table>
		<colgroup>
			<col width="50%" />
			<col width="16.66%" />
			<col width="16.66%" />
			<col width="16.66%" />
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>ABV</th>
				<th>Price</th>
				<th>Stock status</th>
			</tr>
		</thead>
		<tbody>
		  <tr><th>Real Ales</th><td></td><td></td><td></td></tr>
		  {% with ales as lines %}
		  {% include "ontap-lines.html" %}
		  {% endwith %}
		  <tr><th>Keg taps</th><td></td><td></td><td></td></tr>
		  {% with kegs as lines %}
		  {% include "ontap-lines.html" %}
		  {% endwith %}
		  <tr><th>Ciders</th><td></td><td></td><td></td></tr>
		  {% with ciders as lines %}
		  {% include "ontap-lines.html" %}
		  {% endwith %}
		</tbody>
	</table>
{% endblock %}
