{% extends "display.html" %}

{% block title %}Cans and Bottles{% endblock %}

{% block header %}Cans and Bottles{% endblock %}

{% block content %}

<table>
	<colgroup>
		<col width="50%" />
		<col width="16.66%" />
		<col width="16.66%" />
		<col width="16.66%" />
	</colgroup>
	<thead>
		<tr>
			<th>Name</th>
			<th>ABV</th>
			<th>Price</th>
			<th>Stock status</th>
		</tr>
	</thead>
	<tbody>
		{% for t in types %}
			<tr>
				<td>{{ t.manufacturer }} {{ t.name }}</td>
				<td>{{ t.abv }}%</td>
				<td>£{{ t.saleprice }}/{{ t.unit.name }}</td>
				{% if t.remaining < 5.0 %}
					<td>Last few</td>
				{% elif t.remaining < 24.0 %}
					<td>Low</td>
				{% else %}
					<td>Plenty</td>
				{% endif %}
				<!-- <td>{{ t.remaining|stringformat:"d" }}</td> -->
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
