{% extends "display.html" %}

{% block title %}On Tap{% endblock %}

{% block header %}Currently On Tap{% endblock %}

{% block content %}
	<table>
		<colgroup>
			<col width="50%" />
			<col width="16.66%" />
			<col width="16.66%" />
			<col width="16.66%" />
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>ABV</th>
				<th>Price</th>
				<th>Stock status</th>
			</tr>
		</thead>

		{% if ales %}
			<thead class="sub">
				<tr>
					<th colspan="4">Real Ales</th>
				</tr>
			</thead>
			<tbody>
				{% with ales as lines %}
					{% include "ontap-lines.html" %}
				{% endwith %}
			</tbody>
		{% endif %}

		{% if kegs %}
			<thead class="sub">
				<tr>
					<th colspan="4">Keg Taps</th>
				</tr>
			</thead>
			<tbody>
				{% with kegs as lines %}
					{% include "ontap-lines.html" %}
				{% endwith %}
			</tbody>
		{% endif %}

		{% if ciders %}
			<thead class="sub">
				<tr>
					<th colspan="4">Ciders</th>
				</tr>
			</thead>
			<tbody>
				{% with ciders as lines %}
					{% include "ontap-lines.html" %}
				{% endwith %}
			</tbody>
		{% endif %}
	</table>
{% endblock %}
