{% extends "display.html" %}

{% block title %}Wines and Spirits{% endblock %}

{% block header %}Wines and Spirits{% endblock %}

{% block content %}

<h1>Wines</h1>

<p>Available in 125ml, 175ml and 250ml measures as well as 750ml
bottles.  Sorry: we're using half pint glasses because we don't have
any wine glasses!</p>
<table>
	<colgroup>
		<col width="40%" />
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
	</colgroup>
	<thead>
		<tr>
			<th>Name</th>
			<th>ABV</th>
			<th>125ml</th>
			<th>175ml</th>
			<th>250ml</th>
			<th>Bottle</th>
			<th>Stock</th>
		</tr>
	</thead>
	<tbody>
	{% for w, small, medium, large in wines %}
		<tr>
			<td>{{ w.stocktype.manufacturer }} {{ w.stocktype.name }}</td>
			<td>{{ w.stocktype.abv }}%</td>
			<td>£{{ small|stringformat:"0.2f" }}</td>
			<td>£{{ medium|stringformat:"0.2f" }}</td>
			<td>£{{ large|stringformat:"0.2f" }}</td>
			<td>£{{ w.stocktype.saleprice }}</td>
			{% if w.stocktype.remaining > 3000 %}
			<td>Good</td>
			{% else %}
			<td>Last few</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<h1>Spirits</h1>

<table>
	<colgroup>
		<col width="50%" />
		<col width="16.66%" />
		<col width="16.66%" />
		<col width="16.66%" />
	</colgroup>
	<thead>
		<tr>
			<th>Name</th>
			<th>ABV</th>
			<th>Price</th>
			<th>Stock status</th>
		</tr>
	</thead>
	<tbody>
		{% for t in spirits %}
			<tr>
				<td>{{ t.manufacturer }} {{ t.name }}</td>
				<td>{{ t.abv }}%</td>
				<td>£{{ t.saleprice }}/{{ t.unit.name }}</td>
				{% if t.remaining <= 5.0 %}
					<td>Last few</td>
				{% elif t.remaining <= 10.0 %}
					<td>Low</td>
				{% else %}
					<td>Plenty</td>
				{% endif %}
				<!-- <td>{{ t.remaining|stringformat:"d" }}</td> -->
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
