{% extends "display.html" %}

{% block title %}Club Mate{% endblock %}

{% block header %}Club Mate{% endblock %}

{% block content %}

<p><strong>Also available in cases!</strong></p>

<div class="screen">
    {% for st, remaining, total, remain_pct in mate %}
        <h2>{{st.manufacturer}} {{st.name}}</h2>
        <p>{{st.manufacturer}} {{st.name}} sells for £{{st.saleprice}}.</p>
        <div class="bargraph" style="margin-bottom: 2.5em;">
        	<div class="bar remaining" style="width:{{remain_pct}}%;"><span>{{remain_pct|stringformat:"0.1f"}}%</span></div>
        </div>
    {% endfor %}
</div>

{% endblock %}
