{% extends "display.html" %}

{% block title %}Cans and Bottles{% endblock %}

{% block header %}Cans and Bottles{% endblock %}

{% block content %}

<table>
	<colgroup>
		<col width="50%" />
		<col width="16.66%" />
		<col width="16.66%" />
		<col width="16.66%" />
	</colgroup>
	<thead>
		<tr>
			<th>Name</th>
			<th>ABV</th>
			<th>Price</th>
			<th>Stock status</th>
		</tr>
	</thead>
	<tbody>
		{% for l in lines %}
			<tr>
				<td>{{l.manufacturer}} {{l.name}}</td>
				<td>{{l.abv}}%</td>
				<td>£{{ l.saleprice }}/{{ l.unit.name }}</td>
				{% if l.remaining < 24.0 %}
					<td>Last few</td>
				{% elif l.remaining < 100.0 %}
					<td>Low</td>
				{% else %}
					<td>Plenty</td>
				{% endif %}
				<!-- <td>{{l.remaining|stringformat:"d"}}</td> -->
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
