{% extends "base.html" %}

{% block title %}Refusals{% endblock %}

{% block heading %}Refusals{% endblock %}

{% block content %}

<table>
  <thead>
    <tr><th>ID</th><th>User</th><th>Time</th><th>Details</th></tr>
  </thead>
  <tbody>
    {% for r in refusals %}
    <tr>
      <td>{{r.id}}</td>
      <td><a href="{{r.user.get_absolute_url}}">{{r.user.fullname}}</a></td>
      <td>{{r.time | date:dtf}}</td>
      <td>{{r.details}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
