{% extends "base.html" %}
{% load staticfiles %}
{% block title %}The Robot Arms{% endblock %}
{% block heading %}The Robot Arms{% endblock %}
{% block content %}
<p class="alert-block"><a href="https://www.emfcamp.org/volunteer/">The Robot Arms is run
entirely by volunteers!  Want to help out?  Follow this link!</a></p>



<h1>Event progress</h1>

<p>Based on current time of {{info.now}}</p>
<p>Bar is currently {% if info.open %}open{% else %}closed{% endif %}.</p>
{% if info.open %}
<p>Bar closes at {{info.closes_at}}.</p>
{% endif %}
<p>Bar next opens at {{info.next_open}}.</p>
<p>We have been open for {{info.time_passed}} out of {{info.length}}.  That's {{info.completed_pct}}%.</p>
<p>We should have consumed {{info.expected_consumption}} out of {{info.total_consumption}} booze.  That's {{info.expected_consumption_pct}}%.</p>

<p>We've actually consumed {{alcohol_used}} out of {{total_alcohol}}ml
alcohol.</p>

<h1>What's on sale right now?</h1>

{% if lines %}
    <table>
        <colgroup>
            <col width="75%" />
            <col width="25%" />
        </colgroup>
        <thead>
            <tr>
                <th>Drink</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for line, drink, price in lines %}
                <tr>
                    <td>{{drink}}</td>
                    <td>£{{price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nothing!</p>
{% endif %}


<h1>How much is left in stock?</h1>

{% if stock %}
    <table>
        <colgroup>
            <col width="75%" />
            <col width="25%" />
        </colgroup>
        <thead>
            <tr>
                <th>Drink</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for drink, qty, unit in stock %}
                <tr>
                    <td>{{drink}}</td>
                    <td>{{qty}} {{unit}}s</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>Nothing!</p>
{% endif %}


<h1>What's powering this?</h1>

<p>The tills are run using free software.</p>
<ul>
  <li><a href="https://github.com/sde1000/quicktill">The till software</a></li>
  <li><a href="https://github.com/sde1000/tillweb">This web service ("emf" branch)</a></li>
  <li><a href="https://www.screenly.io/ose/">The display boards</a> fetch web pages like <a href="/display/on-tap.html">https://bar.emfcamp.org/display/on-tap.html</a></li>
</ul>

<p>Pull requests welcome!  If you improve the web service, your
changes may be made live during EMF!</p>

<p>A simple JSON interface is available:</p>
<ul>
  <li><a href="http://bar.emfcamp.org/locations.json">http://bar.emfcamp.org/locations.json</a>
  lists the groups of stock that are on sale at the moment</li>
  <li>http://bar.emfcamp.org/location/[name].json lists stock on sale in a
  location.</li>
  <li><a href="http://bar.emfcamp.org/stock.json">http://bar.emfcamp.org/stock.json</a> lists everything we have left in stock.</li>
</ul>

{% endblock %}
