{% extends "base.html" %}
{% load staticfiles %}
{% block title %}The Robot Arms{% endblock %}
{% block heading %}
    <h1>The Robot Arms</h1>
    {% if info.open %}
        <div class="status open">
            <h2>OPEN</h2>
            <p>Closing at {{ info.closes_at|date:"H:i" }}</p>
        </h2>
        {% else %}
            <div class="status closed">
                <h2>CLOSED</h2>
                {% if info.next_open %}
                    <p>Opening at {{ info.next_open|date:"H:i" }}</p>
                {% else %}
                    <p>Thats a wrap!</p>
                {% endif %}
            </div>
        {% endif %}
{% endblock %}
{% block content %}
<p class="alert-block"><a href="https://www.emfcamp.org/volunteer/">The Robot Arms is run
entirely by volunteers!  Want to help out?  Follow this link!</a></p>



<h1>Event progress</h1>

<div>
	{% include "charts.html" %}
</div>

<h1>What's on the bar right now?</h1>
{% comment %}This was copy-and-pasted from display-on-tap.html - perhaps
it should go in an include file instead?{% endcomment %}
	<table>
		<colgroup>
			<col width="50%" />
			<col width="16.66%" />
			<col width="16.66%" />
			<col width="16.66%" />
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>ABV</th>
				<th>Price</th>
				<th>Stock status</th>
			</tr>
		</thead>

		{% if ales %}
			<thead class="sub">
				<tr>
					<th colspan="4">Real Ales</th>
				</tr>
			</thead>
			<tbody>
				{% with ales as lines %}
					{% include "ontap-lines.html" %}
				{% endwith %}
			</tbody>
		{% endif %}

		{% if kegs %}
			<thead class="sub">
				<tr>
					<th colspan="4">Keg Taps</th>
				</tr>
			</thead>
			<tbody>
				{% with kegs as lines %}
					{% include "ontap-lines.html" %}
				{% endwith %}
			</tbody>
		{% endif %}

		{% if ciders %}
			<thead class="sub">
				<tr>
					<th colspan="4">Ciders</th>
				</tr>
			</thead>
			<tbody>
				{% with ciders as lines %}
					{% include "ontap-lines.html" %}
				{% endwith %}
			</tbody>
		{% endif %}
	</table>

<h1>What else does the bar sell?</h1>

<p>Stuff!</p> {% comment %}Links to detail pages for cans, wine, spirits, soft drinks.{% endcomment %}

<h1>What's powering this?</h1>

<p>The tills are run using free software.</p>
<ul>
  <li><a href="https://github.com/sde1000/quicktill">The till software</a></li>
  <li><a href="https://github.com/sde1000/tillweb">This web service ("emf" branch)</a></li>
  <li><a href="https://www.screenly.io/ose/">The display boards</a> fetch web pages like <a href="/display/on-tap.html">https://bar.emfcamp.org/display/on-tap.html</a></li>
</ul>

<p>Pull requests welcome!  If you improve the web service, your
changes may be made live during EMF!</p>

<p>A simple JSON interface is available:</p>
<ul>
  <li><a href="{% url "locations-json" %}">http://bar.emfcamp.org{% url "locations-json" %}</a>
  lists the groups of stock that are on sale at the moment</li>
  <li>http://bar.emfcamp.org/location/[name].json lists stock on sale in a
  location, for example the <a href="{% url "location-json" "Bar" %}">Bar</a> location</li>
  <li><a href="{% url "stock-json" %}">http://bar.emfcamp.org{% url "stock-json" %}</a> lists everything we have left in stock.</li>
  <li><a href="{% url "progress-json" %}">http://bar.emfcamp.org{% url "progress-json" %}</a> compares how much we've actually drunk with what we predicted before the event...</li>
</ul>

{% endblock %}
